
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="library-footer">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                © Библиотека, <%= ((new Date()).getFullYear() !== 2021 ? `2021 - ${(new Date()).getFullYear()}` : (new Date()).getFullYear()) %><br />
                <span>данный проект создан просто для того чтобы проверить ejs + express и ничего более</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
