<%- include("./layout/header", {title: title}) %>
<ul class="uk-breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><span>Страница не найдена</span></li>
</ul>
<div class="uk-text-center uk-heading-xlarge">404</div>
<div class="uk-text-center uk-heading-small">не удалось найти страницу, может на <a href="/">главную</a></div>
<%- include("./layout/footer") %>
