<%- include("./layout/header", {title: title}) %>
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card footer uk-card-hover uk-card-default">
            <div class="uk-card-body">
                <p>Книги</p>
            </div>
            <div class="uk-card-footer uk-position-bottom">
                <a href="/library" class="uk-button uk-button-text">Посмотреть книги</a>
            </div>
        </div>
    </div>

</div>


<%- include("./layout/footer") %>
